{% load staticfiles %} {% load bootstrap4 %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lucas Lambert. Blenders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}">
    {{form.media}}
    {% endblock %}
</head>

<body>
    {% include "about_me/navbar.html" %}{% block content %}
    {% endblock %}
    {% block script %}
    <script>
            !function(e){"use strict";e('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){if(location.pathname.replace(/^\//,"")==this.pathname.replace(/^\//,"")&&location.hostname==this.hostname){var t=e(this.hash);if((t=t.length?t:e("[name="+this.hash.slice(1)+"]")).length)return e("html, body").animate({scrollTop:t.offset().top},1e3,"easeInOutExpo"),!1}}),e(".js-scroll-trigger").click(function(){e(".navbar-collapse").collapse("hide")}),e("body").scrollspy({target:"#sideNav"})}(jQuery);
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    {% endblock %} 
    {% bootstrap_javascript %}
</body>

</html>