{% extends 'repositories/base.html'%}
{% load static bootstrap4 %}
{% comment %} {% load mathfilters %} {% endcomment %}
{% block content %}



<main role="main">
        <section class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <p>Quick-links will come here..</p>
                </div>
                <div class="container">
                <h1 class="jumbotron-heading">BLENDER PROJECTS</h1>
                
                <p class="lead text-muted">Discover my latest Blender projects
                    <br>
                    <small class="text-danger">CGI is a passion!</small>
                </p>
                </div>
            </section>

    <div class="album py-5 bg-light">
        <div class="container">
