{% extends 'repositories/base.html'%}
{% load static bootstrap4 %}
{% comment %} {% load mathfilters %} {% endcomment %}
{% block content %}


{% comment %} {{user_details}}
<h1>BREAK!</h1>
{{repos_details}}  {% endcomment %}

<body>

    
    
        <main role="main">

            <section class="jumbotron text-center">
                    <div class="container">
                    <h1 class="jumbotron-heading">PYTHON PROJECTS</h1>
                    
                    <p class="lead text-muted">Discover my aps made with Flask and Django
                        <br>
                        <small class="text-danger">Frameworks are GREAT!</small>
                    </p>
                    </div>
                </section>
        <div class="album py-5 bg-light">
            <div class="container">
    
            <div class="row">
                {% for items in python %}
                {% if items.category == "PYTHON" %}
                 
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow" style="background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),({{items.article_image.url}}); background-repeat: no-repeat; background-size:cover;">
                    {% comment %} <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap"> {% endcomment %}
                    <div class="card-body" style="background-image:url('{{ items.article_image }}');">
                        <h3 class="card-text">{{items.title}}</h3>
                        <p class="card-text">{{items.description|truncatewords:"20"}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                                {% if items.githuburl %}
                                <a class="btn btn-confirm btn-sl js-scroll-trigger" href="{{items.githuburl}}">View on GitHub</a>
                                {% else %}
                                <p><small>No GitHub link yet..</small></p>
                                {% endif %}
                                {% if items.live_app_deployment %}
                                <a class="btn btn-danger btn-sl js-scroll-trigger" href="{{items.live_app_deployment}}">View live site</a>
                                {% else %}
                                <p><small>No deployed app yet..</small></p>
                                {% endif %}
                   
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
               

            </div>
            </div>
        </div>
    
        </main>
    
        <footer class="text-muted">
          <div class="container">
            <p class="float-right">
              <a href="#">Back to top</a>
            </p>
            <p>Designed and created by Lucas B. Lambert. All rights reserved</p>

          </div>
        </footer>

{% endblock %}